<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    <!-- <script src="{{ url_for('static', filename='index.js') }}"></script> -->
    {% block head %}
    {% endblock %}
    <title>Document</title>
</head>
{% block style %}
{% endblock %}
<body>
    {% block body %}
    {% endblock %}
</body>
{% block script %}
{% endblock %}
</html>